/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body, html {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
}

li:hover {
    background-color: #EFEFEF;
}

a {
    text-decoration: none;
    color: black;
}

.feed-title-container {
    display: inline-block;
    border-right: 1px solid #CCC;
    width: 85%;
}

.selected-feed {
    font-weight: bold;
}

.feed-control-container {
    display: inline-block;
    width: 15%;
}

.feed-control-container input {
    position: relative;
    top: 5px;
    left: 5px;
}

#feeds-menu {
    height: 47%;
    overflow: scroll;
    border-bottom: none;
}

#controls {
    height:7%;
    padding-left: 1em;
    overflow:scroll;
    text-align: center;
}

#controls input {
    height: 75%;
}

#display {
    border: none;
    height: 50%;
    overflow: scroll;
}