/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
    background-color: white;
}

li {
    background-color: white;
}

li:hover {
    background-color: #EFEFEF;
}

a:link {
    color: black;
}

a:visited {
    color: #555;
}

.feed-title-container {
    border-right: 1px solid #CCC;
}

#controls {
    border: 1px solid #AAA;
    background-color: white;
}
