#wrap {
    width: 50%
}

.form-line {
    margin-bottom: 0.5em;
}

.message {
    display: none;
}

ul {
    list-style: none;
    padding-left: 2.5em;
}

li {
    padding: 0.2em 0;
}

li:last-child {
    border-bottom: none;
}

#controls {
    text-align: center;
}

.label-text {
    display: inline-block;
    width: 20%;
}

.button {
    width: 25%;
}