/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* stylelint-disable property-no-vendor-prefix */

/**
 * This CSS file is loaded as an author sheet in some moz-extension:-documents.
 * To make sure that extensions can easily override any CSS property declared
 * here, we wrap all CSS rules in @layer (which results in lower precedence
 * than any style without @layer). Unfortunately, the layer here has a higher
 * precedence than any other layer. Not a problem in practice due to the minimal
 * use of @layer: https://bugzilla.mozilla.org/show_bug.cgi?id=1873024#c4
 * If desired, extension devs can easily opt out of this stylesheet with
 * browser_style: false or by switching to MV3.
*/
@layer {

    /* Global */
    html,
    body {
        background: transparent;
        box-sizing: border-box;
        color: light-dark(#222426, CanvasText);
        cursor: default;
        display: flex;
        flex-direction: column;
        font: caption;
        margin: 0;
        padding: 0;
        user-select: none;
    }

    body * {
        box-sizing: border-box;
        text-align: start;
    }
}

/* end of @layer */