/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

li {
    border-bottom: 1px dotted gray;
}

.feed-node:hover {
    background: #EEE;
}

#feed-items-list a {
    text-decoration: none;
    color: black;
}

#feed-items-list a:hover {
    text-decoration: underline;
    color: black;
}

#feed-items-list a:visited {
    color: grey;
}

#discovered-feeds-list li:hover {
    background: #EEE;
    cursor: pointer;
}

input[type="image"]:disabled {
  filter: invert(70%);
}